/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

video {
	@apply my-0 h-full w-full;
}

.video-container {
	@apply flex items-center justify-center bg-black object-contain;
}
